.header {
  background-color: #444;
  color: white;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.2rem 2rem;
  box-sizing: border-box;
}

.header p {
  font-size: 1.2rem;
  margin: 0;
  padding-left: 10px;
}

.header ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.header ul li {
  margin: 0;
}
