.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 2rem;
  box-sizing: border-box;
  z-index: 1000;
}

.header p {
  font-size: 1.2rem;
  margin: 0;
  padding-left: 10px;
}

.header ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
}

.header ul li {
  margin: 0;
}
