.navbar {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.navbar ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
}

.navbar a:hover {
  color: #ff6347; 
}

.navbar a.active {
  color: #ffffff;
}

.navbar a:not(.active) {
  color: #ccc;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column; 
    align-items: flex-start; 
  }

  .navbar ul {
    display: block; 
  }

  .navbar a {
    padding: 0.5rem 0; 
    width: 100%; 
    text-align: left; 
}
}